Repository Boogieman-lab/book-management-system, pull requests merged in 2025-09, with the labels that each got.

#5 feat: 사용자 정보 조회ㅑ 엔트포인트 구현 맟 flyway DDL 추가
  src/main/java/com/example/bookmanagementsystembo/user/domain/dto/UserInfo.java
  src/main/java/com/example/bookmanagementsystembo/user/domain/dto/enums/Role.java
  src/main/java/com/example/bookmanagementsystembo/user/domain/entity/BaseEntity.java
  src/main/java/com/example/bookmanagementsystembo/user/domain/entity/Department.java
  src/main/java/com/example/bookmanagementsystembo/user/domain/entity/Users.java
  src/main/java/com/example/bookmanagementsystembo/user/domain/service/UserService.java
  src/main/java/com/example/bookmanagementsystembo/user/infra/DepartmentRepository.java
  src/main/java/com/example/bookmanagementsystembo/user/infra/UserRepository.java
  src/main/java/com/example/bookmanagementsystembo/user/presentation/UserController.java
  src/main/java/com/example/bookmanagementsystembo/user/presentation/dto/UserInfoResponse.java
  src/main/resources/db/migration/V1.0__create_users.sql
  src/main/resources/db/migration/V1.1__create_department.sql
Labels: feat

#6 feat: JWT 기반 회원가입 기능 구현
  build.gradle
  src/main/java/com/example/bookmanagementsystembo/auth/config/JwtAuthenticationFilter.java
  src/main/java/com/example/bookmanagementsystembo/auth/config/JwtTokenProvider.java
  src/main/java/com/example/bookmanagementsystembo/auth/config/SecurityConfig.java
  src/main/java/com/example/bookmanagementsystembo/auth/domain/service/AuthService.java
  src/main/java/com/example/bookmanagementsystembo/auth/presentation/AuthController.java
  src/main/java/com/example/bookmanagementsystembo/auth/presentation/dto/SignupRequest.java
  src/main/java/com/example/bookmanagementsystembo/user/domain/entity/Users.java
  src/main/java/com/example/bookmanagementsystembo/user/infra/UserRepository.java
  src/main/resources/application.yml
  src/test/java/com/example/bookmanagementsystembo/auth/domain/service/AuthServiceTest.java
Labels: feat

#10 feat: 부서 단건 조회 및 목록 조회 API 개발
  src/main/java/com/example/bookmanagementsystembo/department/controller/DepartmentController.java
  src/main/java/com/example/bookmanagementsystembo/department/dto/DepartmentDto.java
  src/main/java/com/example/bookmanagementsystembo/department/dto/DepartmentInfo.java
  src/main/java/com/example/bookmanagementsystembo/department/presentation/controller/DepartmentController.java
  src/main/java/com/example/bookmanagementsystembo/department/presentation/dto/DepartmentResponse.java
  src/main/java/com/example/bookmanagementsystembo/department/service/DepartmentService.java
  src/main/java/com/example/bookmanagementsystembo/user/domain/service/UserService.java
Labels: feat

#27 refactor: 대출 목록 및 단건 조회에 도서 제목 포함 및 조인 추가
  src/main/java/com/example/bookmanagementsystembo/book/infra/BookBorrowQueryRepositoryImpl.java
Labels: refactor

#36 feat: 정책 테이블 추가 및 대출/예약 규정 반영한 ERD 재설계
  docs/erd-diagram/book_erd.md
Labels: feat

#37 docs: 도서 대출 프로세스 시퀀스 다이어그램 추가
  docs/sequence-diagram/book_borrow_system_flow.md
Labels: documentation
